{% extends 'base.html' %}
{% load static %}
{% block categories %}
    <!--  Categories  -->
    <section class="categories" id="products">
        <div class="heading">
            <h2>Асортимент</h2>
        </div>
        <!-- Container -->
        <div class="categories-container">
            <a href="{% url 'store:products' %}">
                <div class="box">
                    <img src="{% static 'img/skumbriya.png' %}" alt="Морожена Риба">
                    <br>
                    <h3>Морожена Риба</h3>
                </div>
            </a>
            <a href="{% url 'store:products' %}">
                <div class="box">
                    <img src="{% static 'img/kopcena.png' %}" alt="Копчена Риба">
                    <br>
                    <h3>Копчена Риба</h3>
                </div>
            </a>
            <a href="{% url 'store:products' %}">
                <div class="box">
                    <img src="{% static 'img/valena.png' %}" alt="В'ялена Риба">
                    <br>
                    <h3>В'ялена Риба</h3>
                </div>
            </a>
        </div>
    </section>
{% endblock %}
