<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Замовлення</title>
</head>
<body>
<script>
    // Function to handle successful order
    function handleSuccessfulOrder() {
        // Clear the cart from local storage
        localStorage.removeItem('shoppingCart');

        // Remove cart items from the frontend
        cartWrapper.innerHTML = ''; // This will remove all cart items from the cartWrapper element

        // Show success message
        alert('Замовлення успішно оформлено\n\n' +
            '! Перевірте, будь ласка, ваш E-mail для отримання підтвердження.\n\n' +
            'Дякуємо за покупку та бажаємо вам прекрасного дня!');

        window.location.reload();
    }
    // При нажатии кнопки "Замовити"
    document.querySelector('#orderButton').addEventListener('click', function (event) {
        event.preventDefault();
        // Собираем данные из формы
        const phone = document.querySelector('#userPhone').value;
        const email = document.querySelector('#userEmail').value;
        const city = document.querySelector('#userCity').value;
        const address = document.querySelector('#userAddress').value;
        const total_price = document.querySelector('#totalPrice').textContent;

        // Получаем данные из localStorage
        const cartData = JSON.parse(localStorage.getItem('shoppingCart'));

        // Формируем данные для отправки на сервер
        const formData = new FormData();
        formData.append('phone', phone);
        formData.append('email', email);
        formData.append('city', city);
        formData.append('address', address);
        formData.append('total_price', total_price);
        formData.append('cartData', JSON.stringify(cartData)); // Add cart data as a JSON string

        for (let [key, value] of formData.entries()) {
            console.log(`${key}: ${value}`);
        }

        // Отправляем данные на сервер
        fetch('{% url "store:handle_order" %}', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                handleSuccessfulOrder();
            })
            .catch(error => {
                console.error(error);
            });
    });
</script>
</body>
</html>
