{% extends "base.html" %}
{% load static %}

<head lang="uk">
    <meta charset="UTF-8">
    <title>Асортимент</title>
    <script src="{% static 'js/paginate.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

{% block home %}{% endblock %}
{% block about %}{% endblock %}
{% block categories %}{% endblock %}
{% block customers %}{% endblock %}

{% block menu %}
    <ul class="navbar animation-item">
        <li><a class="scroll-link" href="{% url 'store:index' %}#home">Головна</a></li>
        <li><a class="scroll-link" href="{% url 'store:index' %}#about">Про Нас</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="categories-selector animation-item-second">
        <div class="categories-box">
{#            <h3 style="margin-bottom: 10px;">Оберіть Категорію:</h3>#}
            <div class="category-buttons">

                <a href="{% url 'store:products' 'all' %}"
                   class="category-button{% if not category %} chosen{% endif %}">Всі категорії</a>

                {% for cat in cats %}
                    <a href="{{ cat.get_absolute_url }}"
                       class="category-button{% if cat == category %} chosen{% endif %}">{{ cat.name }}</a>
                {% endfor %}

            </div>
        </div>
    </div>

    <!--  Products  -->
    <section class="products" id="products">
        <div class="heading">
            {% if category %}
                <h2>{{ category.name }}</h2>

            {% elif request.GET.search %}
                <h2>Результати пошуку</h2>

            {% else %}
                <h2>Всі категорії</h2>
            {% endif %}

        </div>
        <!-- Container -->
        {% if object_list %}
        <div class="products-container">
            {% for product in object_list %}
                <div class="box" data-id="{{ product.id }}">
                    <div class="image-container">
                    <img class="fish-image" data-description="{{ product.description }}"
                         src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/ryb1.png' %} {% endif %}"
                         alt="{{ product.alt }}"></div>
                    <h4>{{ product.category }}</h4>
                    <hr>
                    <h3 class="item-title">{{ product.name }}</h3>
                    <br>

                    <div class="content">
                        <span class="price-weight">{{ product.price|floatformat:"-2" }} грн/{{ product.measure }}</span>

                        <div class="counter">
                            <button class="counter_control" data-action="minus">-</button>
                            <div class="counter_amount" data-counter>1</div>
                            <button class="counter_control" data-action="plus">+</button>
                        </div>
                        <div class="cart-button-container">
                            <div data-cart>
                                <button data-cart class="add-cart-button">Додати в кошик</button>
                            </div>
                        </div>

                    </div>
                    <br>
                </div>

                <div id="image-modal-{{ product.id }}" class="product-modal image-modal">
                <div class="product-modal-content">
                    <span id="close" class="close">&times;</span>
                    <h4>{{ product.category }}</h4>
                    <h3>{{ product.name }}</h3>
                    <p class="product-modal-description">{{ product.description }}</p>
                    <img id="product-modal-image" class="product-modal-image" src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/ryb1.png' %} {% endif %}" alt="{{ product.alt }}">
                </div>
            </div>

            {% endfor %}
        </div>
        {% else %}
            <div>Товарів не знайдено</div>
        {% endif %}

        <div id="successModal" class="product-modal">
            <div class="product-modal-content"
                 style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                <span class="close" onclick="closeModal()">&times;</span>
                <p>Замовлення успішно оформлено!</p>
                <br>
                <p>Перевірте, будь ласка, ваш E-mail для отримання підтвердження.</p>
                <br>
                <p>Дякуємо за покупку та бажаємо вам чудового дня!</p>
                <br>
                <img src="{% static 'img/logo.png' %}" alt="Рибний смак" style="width: 200px;">
                <br>
            </div>
        </div>

    </section>

{% endblock %}

