{% extends "base.html" %}
{% load static %}

<head lang="uk">
    <meta charset="UTF-8">
    <title>Асортимент - Рибний Смак</title>
    <script src="{% static 'js/paginate.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="description" content="Рибний Смак - ваш надійний постачальник широкого асортименту свіжих морепродуктів
    та риби в Україні..">
    <meta name="keywords" content="Рибний смак">
    <meta name="author" content="Рибний Смак">
    <meta property="og:title" content="Рибний смак" />
    <meta property="og:description" content="Ваш надійний постачальник широкого асортименту свіжих морепродуктів
    та риби в Україні" />
    <meta property="og:image" content="{% static 'img/logo.png' %}" />
    <meta property="og:url" content="https://rybniismak.com/" />
    <meta property="og:type" content="website" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

</head>

{% block home %}{% endblock %}
{% block about %}{% endblock %}
{% block categories %}{% endblock %}
{% block customers %}{% endblock %}



{% block navbar %}
    <!-- Navbar -->
    <header style="background-color: rgba(27, 27, 27, 1);!important;">
        <a href="{% url 'store:index' %}" class="logo animation-item" >
            <img src="{% static 'img/logo.png' %}" alt="Logo">
{#            <img src="{% static 'img/logo-2.png' %}" alt="Logo">#}

        </a>
        <!-- Menu-Icon -->
        <i class="bx bx-menu animation-item" id="menu-icon"></i>
        <!-- Links -->
        {% block menu %}
            <ul class="navbar animation-item">
                <li><a class="scroll-link" href="{% url 'store:index' %}#home">Головна</a></li>
                <li><a class="scroll-link" href="{% url 'store:index' %}#about">Про Нас</a></li>
            </ul>
        {% endblock %}
        <!-- Icon -->
        <div class="header-icon animation-item">
            <i class="bx bx-cart-alt" id="open-cart-modal"></i>
            <i class="bx bx-search" id="search-icon"></i>
        </div>

        <!-- Search Box -->
        <div class="search-box animation-item">
            <form action="/search" method="GET" id="search-form">
                <label for="search-input"></label>
                <input type="search" id="search-input" name="search" placeholder="Пошук товару">
             </form>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="categories-selector animation-item-second">
        <div class="categories-box">
{#            <h3 style="margin-bottom: 10px;">Оберіть Категорію:</h3>#}
            <div class="category-buttons">

                <a href="{% url 'store:products' 'all' %}"
                   class="category-button{% if not category %} chosen{% endif %}">Всі категорії</a>

                {% for cat in cats %}
                    <a href="{{ cat.get_absolute_url }}"
                       class="category-button{% if cat == category %} chosen{% endif %}">{{ cat.name }}</a>
                {% endfor %}

            </div>
        </div>
    </div>

    <!--  Products  -->
    <section class="products" id="products">
        <div class="heading">
            {% if category %}
                <h2>{{ category.name }}</h2>

            {% elif request.GET.search %}
                <h2>Результати пошуку</h2>

            {% else %}
                <h2>Всі категорії</h2>
            {% endif %}

        </div>
        <!-- Container -->
        {% if object_list %}
        <div class="products-container">
            {% for product in object_list %}
                <div class="box" data-id="{{ product.id }}">
                    <div class="image-container">
                    <img class="fish-image" data-description="{{ product.description|linebreaks }}"
                         src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/ryb1.png' %} {% endif %}"
                         alt="{{ product.alt }}"></div>
                    <h4>{{ product.category }}</h4>
                    <hr>
                    <h3 class="item-title">{{ product.name }}</h3>
                    <br>

                    <div class="content">
                        <span class="price-weight">{{ product.price|floatformat:"-2" }} грн/{{ product.measure }}</span>

                        <div class="counter">
                            <button class="counter_control" data-action="minus">-</button>
                            <div class="counter_amount" data-counter>1</div>
                            <button class="counter_control" data-action="plus">+</button>
                        </div>
                        <div class="cart-button-container">
                            <div data-cart>
                                <button data-cart class="add-cart-button">Додати в кошик</button>
                            </div>
                        </div>

                    </div>
                    <br>
                </div>

                <div id="image-modal-{{ product.id }}" class="product-modal image-modal">
                <div class="product-modal-content" id="productModalContent">
                    <span id="close" class="close">&times;</span>
                    <h4>{{ product.category }}</h4>
                    <h3>{{ product.name }}</h3>
                    <pre class="product-modal-description"><code>{{ product.description|safe }}</code></pre>

                    <img id="product-modal-image" class="product-modal-image" src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/ryb1.png' %} {% endif %}" alt="{{ product.alt }}">
                </div>
            </div>

            {% endfor %}
        </div>
        {% else %}
            <div>Товарів не знайдено</div>
        {% endif %}



    </section>



{% endblock %}

